body {
  font-family: sans-serif;
}

.container {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  font-style: 0;
}

a {
  text-decoration: none;
}

.logo {
  color: black;
  font-size: 80px;
  display: inline-block;
  margin: 65px 0;
}

.blue-logo {
  color: #4bcaff;
}

.header,
.submenu,
.footer {
  text-transform: capitalize;
}

.header-menu {
  height: 70px;
  background-color: #35444f;
  color: white;
  width: 100%;
  margin-bottom: 55px;
  font-size: 0;
  text-align: center;
  box-sizing: border-box;
}

.header-item {
  display: inline-block;
  box-sizing: border-box;
  border-left: 1px transparent;
  border-right: 1px transparent;
  border: 1px solid white;
}

.header-link {
  color: white;
  line-height: 70px;
  padding: 0 40px;
  display: inline-block;
  font-size: 24px;
  box-sizing: border-box;
}

.header-item:hover {
  background-color: #222f3a;
  border-left: 1px solid #818181;
  border-right: 1px solid #818181;
  box-sizing: border-box;
}

.submenu {
  display: inline-block;
  width: 30%;
  box-sizing: border-box;
  vertical-align: top;
  padding-right: 28px;
  font-size: 27px;
  padding-top: 25px;
}

.submenu-conteiner {
  border: 1px solid black;
}

.submenu-item {
  height: 80px;
  list-style: none;
}

.submenu-item:hover {
  text-indent: 25px;
  background-color: #dbdbdb;
}

.submenu-link {
  display: block;
  padding-left: 44px;
  color: #485863;
  line-height: 80px;
}

.main-content {
  display: inline-block;
  box-sizing: border-box;
  width: 65%;
  padding-left: 28px;
  padding-top: 50px;
}

.main-image {
  width: 100%;
  height: 530px;
  border: 1px solid black;
  background-image: url("../css/image/img.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 320px;
  transition: background-size 500ms;
}

.main-image:hover {
  background-size: 350px;
}

.text {
  margin: 50px 30px;
}

.text p {
  margin-bottom: 34px;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
}

.bottom-menu {
  background-color: #b4b7ba;
  height: 70px;
  margin-bottom: 30px;
  font-size: 0;
}

.bottom-menu-item-container {
  display: inline-block;
  width: 80%;
  box-sizing: border-box;
  font-size: 0;
  padding-left: 40px;
}

.bottom-menu-item {
  display: inline-block;
}

.bottom-menu-link {
  display: inline-block;
  line-height: 70px;
  padding: 0 12px;
  font-size: 28px;
  color: black;
}

.bottom-menu-link:hover {
  text-decoration: underline;
  color: #3181a6;
}

.copyright {
  display: inline-block;
  text-align: right;
  width: 20%;
  padding-right: 45px;
  box-sizing: border-box;
  font-size: 24px;
}
