body {
  margin: 0;
  font-family: sans-serif;
  line-height: 18px;
}

/* *,
*::before,
*::after { */
  /* box-sizing: border-box; */
}

.header {
  padding-top: 25px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 18px;
  text-transform: uppercase;
}

.nav-link {
  display: inline-block;
  vertical-align: top;
  /* margin: 72px; */
  margin: 0 20px 0 20px;
  font-weight: bold;
  color: #ff0000;
  text-decoration: none;
}

.banner-image {
  line-height: 1;
  padding: 517px 20px 128px 160px;
  background: url(../images/simple.png) center no-repeat;
  background-size: cover;
}
.title {
  text-align: center;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  margin: 48px;
  text-transform: uppercase;
}
.first-paragraph {
  text-align: center;
  font-weight: normal;
  margin: 67px;
  margin-top: 38px;
font-size: 16px;
line-height: 26px;
letter-spacing: 2.4px;
}

.second-paragraph {
  text-align: center;
  font-weight: normal;
  margin: 67px;
  margin-top: 28px;
font-size: 16px;
line-height: 26px;
letter-spacing: 2.4px;
margin-top: 28px;
}

.btn {
  padding: 18px 42px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  vertical-align: top;

  color: #fff;

  background-color: #ff0000;
  text-decoration: none;

  margin: 0 auto;

  display: block;
}

.rights {
  text-align: right;
  font-weight: bold;
  margin: 82px 105px 29px 713px;
}
