a {
  text-decoration: none;
}
body {
  background: url(../images/bg/background.png) center center / cover no-repeat;
}
.container {
  width: 1030px;
  margin: 0 auto;
}
.header {
  padding-top: 51px;
  display: flex;
  justify-content: space-between;
}
.header-logo-mh {
  display: none;
}
.header-item-logo:hover .header-logo {
  display: none;
}
.header-item-logo:hover .header-logo-mh {
  display: block;
}
.header-item-logo:hover .header-logo-text {
  color: #f26522;
}

.header-link {
  display: flex;
  text-decoration: none;
}
.header-logo-text {
  width: 120px;
  margin-left: 8px;
  font-weight: bold;
  font-size: 29px;
  line-height: 24px;
  color: #ffffff;
}
.header-logo-text span {
  font-size: 18px;
  line-height: 25px;
}
.header-item-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.contact-link {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  transition: all 0.3s;
}
.contact-link:hover {
  color: #f26522;
}
.main-wrapper {
  margin-top: 22px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-gap: 37px 60px;
}

.main-picture {
  object-fit: cover;
  object-position: top;
  border: 2px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-image-slice: 1;
}
.img-link-block {
  position: relative;
  width: 302px;
}
.main-description {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}
.footer-description {
  padding-bottom: 15px;
  margin-top: 49px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}
.orange-block {
  z-index: -1;
  padding: 7px 0 9px 0;
  position: absolute;
  background: #f26522;
  width: 100%;
  top: 163px;
  left: 2px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: 0.5s ease-out;
}

.img-link-block:hover .orange-block {
  z-index: 1;
}
.img-link-block:hover .main-description {
  color: #f26522;
}
.orange-block-description {
  margin-left: 16px;
  min-width: 36px;
  line-height: 18px;
  font-size: 10px;
  color: #ffffff;
}
.orange-block-description span {
  display: block;
  margin-top: 8px;
  font-size: 20px;
}

.orange-block-description-detalis {
  font-size: 14px;
  color: #ffffff;
}
.orange-block-description-detalis::after {
  content: "";
  display: inline-block;
  background-image: url(../images/elements/arrow.svg);
  margin-left: 16px;
  margin-right: 14px;
  height: 12px;
  width: 7px;
}
